
<table class="table table-striped">
        <tbody>
          <tr>
              <td><b>Emp Name</b></td>
              <td>:</td>
              <td>{{selectedDetailsIs.empName}}</td>
          </tr>
          <tr>
              <td><b>Emp Age</b></td>
              <td>:</td>
              <td>{{selectedDetailsIs.empAge}}</td>
          </tr>
          <tr>
              <td><b>Emp Location</b></td>
              <td>:</td>
              <td>{{selectedDetailsIs.empLocation}}</td>
          </tr>
          <tr>
              <td><b>Emp Id</b></td>
              <td>:</td>
              <td>{{selectedDetailsIs.empId}}</td>
          </tr>
        </tbody>
      </table>
